.navbar {
    padding: 5px ;
    margin: 5px;
}

.navbar .page{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(75, 43, 43);
}

.page{
    margin-top: 100px;

}

.home {
    text-align: center;
}